$body-color: #f9f9f9;
$font-color: #4a4a4a;
$font-size: 14px;
$primary: #04488a;
$secondary: #069766;

body {
    // background-color: $body-color !important;
    font-family: 'Open sans', sans-serif !important;
}

.logo {
    width: 166px;
    //         cursor: pointer;
    //         &:active {
    //             opacity: 0.2;
    //         }
}

.tab {
    color: $primary;
    font-size: $font-size;
    font-weight: 600;
}

.webTab {
    color: $secondary;
    font-size: $font-size;
    font-weight: 600;
}

.mainCard {
    width: 100%;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 21px 33px 0 rgba(0, 0, 0, .1);
    border-radius: 12px;
    border: 1px solid #ccc;

    .cardSidebar {
        border-radius: 12px 0px 0px 12px;
        background-color: $primary;
    }

    .cardContainer h1 {
        font-size: 48px;
        font-weight: 700;
        color: #000;
    }
}

.activeTab {
    background-color: #fff !important;
}

.sleptTab {
    background-color: $primary;
}

.activeIcon {
    color: $primary !important;
}

.sleptIcon {
    color: #fff !important;
}